.List {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.Item {
  position: relative;
  list-style: none;
  width: 380px;
  height: 460px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgb(0 0 0 / 23%);
  border-radius: 20px;
}

.LogoWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 76px;
  height: 22px;
}

.BcgWrapper {
  padding: 28px 36px 0px;
  box-sizing: border-box;
}

.BcgImg {
  background-repeat: no-repeat;
  width: 308px;
  height: 168px;
}

.AvatarWrapper {
  width: 380px;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
  margin-top: 18px;
}
.AvatarBox {
  position: absolute;
  background: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  top: 178px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.TextWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 62px;
}

.Text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0px;
  color: #ebd8ff;
}

.ButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn {
  cursor: pointer;
  width: 196px;
  height: 50px;
  box-shadow: 0px 3.43693px 3.43693px rgb(0 0 0 / 25%);
  border-radius: 10.3108px;
  border: none;
  margin-top: 26px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;
}

.BtnActive {
  background: #5cd3a8;
}

.BtnInactive {
  background: #ebd8ff;
}
